body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.nav-section {
  display: flex;
  position: fixed;
  width: 5rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
}

.cross {
  cursor: pointer;
}

.line {
  width: 2.5rem;
  height: 0.2rem;
  margin-bottom: 0.6rem;
  background-color: black;
  border-radius: 10rem;
}

.line1,
.line3 {
  width: 1.8rem;
}

.icons {
  list-style: none;
  font-size: 2rem;
}

.fa-brands {
  transition: all 0.2s;
  margin-right: 2rem;
  margin-bottom: 2.5rem;
}
.fa-brands {
  color: grey;
}
.fa-brands:hover {
  color: orangered;
}

/* ----------------------------------------------------- */

.lnav-section {
  background-image: linear-gradient(
      to top,
      rgba(29, 29, 56, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url(./Images/house-pool-tree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: fixed;
  height: 100%;
  width: 20rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 5rem;
  text-align: center;
}
.heading {
  text-transform: capitalize;
  color: rgb(255, 133, 88);
}

.form form {
  position: relative;
  color: red;
}
form button {
  position: absolute;
  /* top: -10px; */
  right: 1rem;
  top: 0.7rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(255, 133, 88);
}

.form form input:focus {
  color: rgb(255, 133, 88);
}
.form form input {
  color: rgb(255, 133, 88);
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.7rem;
  width: 16rem;
  background-color: rgba(29, 29, 56, 0.9);
}
.pages {
  text-transform: uppercase;
  line-height: 3rem;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
  position: relative;
}

.pages > li::before,
.pages > li::after {
  transition: all 0.5s;
}
.pages > li:hover::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.1rem;
  background-color: rgb(255, 133, 88);
  left: -3.5rem;
  top: 1.5rem;
  /* position: relative; */
}
.pages > li:hover::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.1rem;
  background-color: rgb(255, 133, 88);
  right: -3.5rem;
  top: 1.5rem;
}
.pages > li > a,
.lnav-foot {
  color: white;
}

.lnav-foot {
  font-size: 0.8rem;
}

/* ----------------------------------------------------- */
.logo > img {
  border-radius: 50%;
  width: 2.5rem;
}

.main-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Images/hotel\ img.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-body > h1 {
  color: white;
}
.main-body > p {
  color: white;
}

.main-body > button {
  background-color: orange;
  border-radius: 5rem;
  background: linear-gradient(
    to right rgba(255, 176, 6),
    to left rgba(255, 176, 6)
  );
  padding: 0.5rem;
  width: 6rem;
  border: none;
  cursor: pointer;
}

/* ----------------------------------------------------- */

.about-us {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  text-align: center;
  /* padding:5rem; */
  /* margin-bottom: 10rem; */
  background-color: rgb(202, 197, 197);
}

.about-us>div {
  /* margin-top: -5rem; */

}
.right-about-section img{
  width: 25rem;
  height: 20rem;
  border-radius: 5rem;
}
.h2{
  width: 18rem;
  height: .2rem;
  margin-left: 10rem;
  background-color:  rgb(255, 133, 88);
}
.h3,.h2{
  color: rgb(255, 133, 88);
}
.btn{
  background-color: transparent;
  border: 1px solid rgb(255, 133, 88);
  cursor: pointer;
  padding: 0.5rem;
  width: 9rem;
}
